{% extends 'wiki/wiki_base.html' %}
{% load static %}

{% block title %}<title>PMM Wiki</title>{% endblock %}

               {% block second_column_header %}
	       <div class="contentMain">
                 <div class="tdTitle" style="margin-bottom: 2px;">
                   <div class="fleft titleHeight" style="line-height: 17px;">PMM Wiki Home</div>
                   <div style="clear: both;"></div>
                 </div>
                 <p>{{ htmlblock.text|safe}}</p>

		 <div class="tdTitle" style="margin-bottom: 2px;">
                   <div class="fleft titleHeight" style="line-height: 17px;">Latest Articles</div>
                   <div style="clear: both;"></div>
                 </div>

		 {% for article in latest %}
		   {% if article.visible %}
                    <div style="padding-left: 0px; padding-bottom: 5px;">
                        <div class="mapTreeCategoryBlock">
                          <span class="mapTreeCategoryImage"><img src="{% static 'article.gif' %}" alt="folder" width="11" height="14"></span>
                          <span class="mapTreeLinkBlock"><a class="catLink" href="{% url 'article_detail' article.pk %}">{{article.name}}</a></span>
                        </div>
                    </div>
                   {% endif %}
		 {% endfor %}
                </div>

		{% endblock %}
