{% extends 'wiki/wiki_base.html' %}
{% load static %}

{% block title %}<title>Resources</title>{% endblock %}

{% block second_column %}
    {% block second_column_header %}
    <div class="col-sm-6">
    {% endblock %}
        <div class="contentMain">
	    <div class="navigation">
		<span class="navigation"><a href="{% url 'index' %}" class="navigation">Resources</a></span> / <span class="navigation"><a href="{% url 'category_detail' subtopic.topic.category.pk %}">{{subtopic.topic.category.name}}</a></span> / <span class="navigation"><a href="{% url 'topic_detail' subtopic.topic.pk %}">{{subtopic.topic.name}}</a></span> / <span class="navigation">{{subtopic.name}}</span>
            </div>
            <div class="tdTitle" style="margin-bottom: 2px;">
                <div class="fleft titleHeight" style="line-height: 17px;">{{ subtopic.name }}</div>
                <div style="clear: both;"></div>
            </div>
            <p>{{ subtopic.text|safe}}</p>

	    <div style="padding-left: 0px; padding-bottom: 5px;">
            {% if subtopic.articles.all %}
                {% for article in subtopic.articles.all %}
                    {% if article.visible %}
                    <div class="mapTreeCategoryBlock">
                        <span class="mapTreeCategoryImage"><img src="{% static 'article.gif' %}" alt="document" width="11" height="14"></span>
                        <span class="mapTreeLinkBlock"><a href="{% url 'article_detail' article.pk %}">{{article.name}}</a></span>
                    </div>
                    {% endif %}
		{% endfor %}
            {% endif %}
	    </div>
	    
        </div>
    </div>
    {% block second_column_footer %}
    {% endblock %}
{% endblock %}
