body {
    padding-top: 56px;
  }
  
  .my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }
  .table-wrapper-scroll-y {
  display: block;
  }
  
  /* Show the dropdown menu on hover */
  /*.dropdown:hover .dropdown-content {display: block;} */
  
  .simple-table table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    font-weight: normal;
  }
  
  .simple-table td, th {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  th {
    font-weight: normal;
  }
  
  .simple-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: black;
  } 
  
  .dropbtn {
    border-radius: 5px;
    background-color: DodgerBlue;
    color: white;
    padding: 16px 40px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .downloadbutton {
    background-color: #f9f9f9;
    border: green;
    color: black;
    overflow: auto;
    padding: 10px 32px;
    min-width: 160px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2)
  }
  
  .downloadbutton:hover {background-color: #ddd}
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: RoyalBLue;
  }
  
  .Label--outline-green, .Label--green {
    color: #228B22;
    border-color: #228B22;
  }
  
  .Label--inline {
    display: inline;
    padding: .1667em .5em;
    font-size: .9em;
  }
  
  .label, .Label {
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border: 1px solid transparent;
    border-radius: 2em;
    background-color: transparent !important;
    border-color: var(--color-label-border);
  }
  
  .px-1 {
    padding-right: 4px !important;
    padding-left: 4px !important;
  }
  
  .ml-1 {
    margin-left: 4px !important;
  }