{% extends "research/base.html" %}

{% block title %}<title>Magnus Haw | Welcome</title>{% endblock %}
{% block home-active %}style="color: blue"{% endblock %}
{% load static %}
{% block content %}

<br>

<div class="row">
  <div class="medium-8 columns">
	  <p><img src="{% static 'images/3d-B_and_J.png' %}" alt="main article image"></p>
    <center>Plot of 3D B and J-field measurements taken on Caltech double-loop experiment</center><br>
  </div>

  <div class="medium-4 columns">

    <hr>
    <center>
	    <a href="{{page.file1.url}}"><h5>CV</h5></a><hr>
	    <a href="{% url 'publications' %}"><h5>Publications</h5></a>
    </center>

   <hr>
   <center><h5>Contact Information</h5></center><br>
     <p>
     Name: Magnus Haw<br>
     Email: <b>[firstname].[lastname][at]nasa.gov</b><br>
     </p>
     <p>Mailing Address:<br>
     {{address.title}}<br>
     {{address.street}}<br>
     {{address.city}}, {{address.state}} {{address.zipcode}}</p>
  </div>
</div>


<div class="row">
<div class="large-12 columns"><hr>
{{page.block0|safe}}
</div><hr>
</div>
{% endblock %}

{% block footer %}
<footer>
<div class="row expanded callout secondary">
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Last updated: {{last_mod}}</li>
</ul>
</div>
</div>
</footer>
{% endblock %}
