{% extends 'base.html' %}
{% load static %}

{% block title %}<title>Magnus Haw | Other</title>{% endblock %}

{% block other-active %}style="color: blue"{% endblock %}

{% block content %}

<hr>
<div class="row column">
<h4 style="margin: 0;" class="text-center">OTHER INTERESTS</h4>
</div>
<hr>
<div class="row">

<div class="large-8 columns" style="border-right: 1px solid #E3E5E8;">
<article>

<div class="row">
<div class="large-4 columns">
	<p><img src="{% static 'images/sustainability.png' %}" alt="sustainability"></p>
</div>
<div class="large-8 columns">
<h5><a href="#">SUSTAINABILITY</a></h5>
<p>
</p>
<p>Living sustainably and minimizing my impact is important to me and, consequently, I am highly concerned about climate change. I participate in several groups involved with outreach, education, and lobbying for a livable world.</p>

<ul>
<li><a href="https://sites.google.com/site/techerssustainablefuture/">calTechers for a Sustainable Future (TSF)</a></li>
<li><a href="https://pasadenaccl.wordpress.com/">Citizens Climate Lobby</a></li>
</ul>

</div>
</div>

<hr>
<div class="row">
<div class="large-4 columns">
<p><img src="{% static 'images/hiking.jpg' %}" alt="image for article" alt="article preview image"></p>
</div>
<div class="large-8 columns">
<h5><a href="#">THE GREAT OUTDOORS</a></h5>
<p>
</p>
<p>I love the outdoors: hiking, backpacking, biking, stargazing. </p>
</div>
</div>
<hr>

<div class="row">
<div class="large-4 columns">
<p><img src="{% static 'images/swing1.png' %}" alt="swing-img"></p>
</div>
<div class="large-8 columns">
<h5><a href="http://www.caltechdance.org/">SWING DANCING</a></h5>
<p>
</p>
<p>Swing dancing was something I started at Caltech and it's been some of the most fun I've had here. Thanks to the <a href="http://www.caltechdance.org/">Caltech Ballroom Dance Club</a> and the <a href="https://www.facebook.com/groups/caltechwcs/">swing community!</a></p>
</div>
</div>
<hr>

</article>
</div>

<div class="large-4 columns">
<aside>

<div class="row column">
<p><center>Enjoying Bryce Canyon Nat'l Park</center></p>
<p><img src="{% static 'images/me.png' %}" alt="self"></p>
</div>
<br>

<div class="row column">
<p class="lead">OTHER GROUPS</p>
</div>

<div class="row">
<div class="small-10 column">
<ul>
<li><a href="http://sepac.caltech.edu/">Science Policy@Caltech</a></li>
<li><a href="https://www.facebook.com/CaltechTI/?ref=py_c">Caltech Toastmasters</a></li>
<li><a href="https://www.facebook.com/groups/BeaversWhoGiveADamn/">Beavers Who Give A Damn</a></li>
<!--<li><a href="http://ccisolar.caltech.edu/webpage/3">CCI Solar Outreach</a></li>-->
</ul>
</div></div>


</aside>
</div>
</div>

{% endblock %}

{% block footer %}
<footer> 
<div class="row expanded callout secondary">
<div class="medium-6 columns">
<ul class="menu align-right">
<li class="menu-text">Last updated: June 26, 2017</li>
</ul>
</div>
</div>
</footer>
{% endblock %}
