{% extends "legislation/base.html" %}

{% block senatemenu %}active{% endblock %}

{% block maincontainer %}
  <div class="container">
{% endblock %}

{% block content %}

<!-- Title -->
<h1 class="mt-4 mb-3">Senate Agenda</h1>
<div class="row">

      <!-- Post Content Column -->
      <div class="col-lg-12">

        <!-- Variable Properties -->
	
        <div class="card mb-4">
          <h5 class="card-header">Senate Agenda</h5>
          <div class="card-body" id="varprops">
            <table class="simple-table" style="font-size: 12px;">
            <tr>
              <th style='font-weight: bold'>Committee</th>
              <th style='font-weight: bold'>Bill</th>
              <th style='font-weight: bold'>Author</th>
              <th style='font-weight: bold'>Summary</th>
            </tr>
            
            {% for hearing in agenda %}
                <tr>
                  <th style='font-weight: bold'>
                    <a href="{{hearing.link}}">{{hearing.name}}</a>
                  <p>
                  {{hearing.date|date:'l, F j, Y'}}
                  {{hearing.time}}</p>
                  
                  </th>
                  <td>{{hearing.location}}</td>
                  <td></td>
                  <td></td>
                </tr>
                {% for bill in hearing.bills %}
                <tr>
                    <td></td>
                    <th style='font-weight: bold'>
                      <a href="{{bill.link}}">{{bill.title}}</a>
                    </th>
                    <td>{{bill.author}}</td>
                    <td>{{bill.description}}</td>
                </tr>
                {% endfor %}
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                </tr>
              {% endfor %}
            
            </table>
          </div>
          <!--
          <div class="card-footer text-muted">
            Last modified: {{varprop.last_modified}}
          </div>
          -->
        </div> <!-- /.card -->
	
        <hr>
      </div> <!-- /.col -->

    </div>
    <!-- /.row -->
{% endblock %}
